<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Globe</title>
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.87/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.87/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div id="resetButton">다른 나라 선택하기</div>
<div id="infoBox">
    <span class="closeButton">X</span>
    <img id="infoImage" src="" alt="대표사진이 없습니다">
    <h2 id="infoTitle"></h2>
    <h3 id="infoSubtitle"></h3>
    <p id="infoDescription"></p>
    <div class="button_list" style="display: flex">
        <button id="addImageButton" class="button">사진 추가</button>
        <input type="file" id="fileInput" accept="image/*" style="display: none;">
        <button id="deleteImageButton" class="button simple">사진 삭제</button>
    </div>
    <div id="imageGallery"></div>
</div>
<div id="cesiumContainer"></div>
<script>

    function addImage() {
        fetch('/api/images/primary')
            .then(response => response.json())
            .then(images => {
                images.forEach(image => {
                    addImageToMap(image);
                });
            })
            .catch(error => {
                console.error("대표 사진 로드 실패 ", error);
            });
    }
    function addImageToMap(image) {
        const regionEntity = getRegionEntity(image.regionUniqueId);
        if (regionEntity) {
            regionEntity.polygon.material = new Cesium.ImageMaterialProperty({
                image: image.imageUrl,
                transparent: true
            });
        } else console.error("지역 코드가 유효하지 않습니다. 지역코드 :", image.regionUniqueId);

    }

    var viewer = new Cesium.Viewer('cesiumContainer', {
        imageryProvider: false,
        baseLayerPicker: false,
        sceneMode: Cesium.SceneMode.SCENE3D,
        animation: false,
        timeline: false,
        fullscreenButton: false,
        homeButton: false,
        infoBox: false,
        navigationHelpButton: false,
        sceneModePicker: false,
        geocoder: false,
        creditContainer: null
    });

    viewer.scene.globe.baseColor = Cesium.Color.SKYBLUE;

    // 처음 지도 카메라 위치
    var userLocation = {
        latitude: 37.5665,
        longitude: 126.9780,
        height: 3000000
    };

    var isDetailedView = false;
    var countriesDataSource;
    var labelEntities = [];
    var detailHandler;
    var currentRegionProperties;
    var regionImages = {}; // 각 지역마다 이미지 저장소
    var isDeleteMode = false;

    viewer.camera.setView({
        destination: Cesium.Cartesian3.fromDegrees(userLocation.longitude, userLocation.latitude, userLocation.height)
    });

    loadCountries();

    function loadCountries() {
        countriesDataSource = new Cesium.GeoJsonDataSource();
        countriesDataSource.load('json/country.geojson').then(function() {
            viewer.dataSources.add(countriesDataSource);
            var entities = countriesDataSource.entities.values;

            // 지도 상에 나라 이름 라벨 이름과 좌표
            var countryInfo = {
                "북한": {longitude: 127.0101, latitude: 39.8399},
                "대한민국": {longitude: 127.9669, latitude: 36.2078},
                "일본": {longitude: 138.2529, latitude: 36.2048},
                "중국": {longitude: 104.1954, latitude: 35.8617}
            };

            for (var i = 0; i < entities.length; i++) {
                var entity = entities[i];
                entity.name = entity.properties.name;
                entity.polygon.material = Cesium.Color.GREEN.withAlpha(0.8);
            }

            // 국가 이름 라벨 추가
            for (var countryName in countryInfo) {
                if (countryInfo.hasOwnProperty(countryName)) {
                    var center = countryInfo[countryName];
                    var labelEntity = viewer.entities.add({
                        position: Cesium.Cartesian3.fromDegrees(center.longitude, center.latitude),
                        label: {
                            text: countryName,
                            font: '12pt "맑은 고딕", "Malgun Gothic", sans-serif',
                            fillColor: Cesium.Color.BLACK,
                            style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                            outlineWidth: 1,
                            verticalOrigin: Cesium.VerticalOrigin.BOTTOM,
                            heightReference: Cesium.HeightReference.CLAMP_TO_GROUND
                        }
                    });
                    labelEntities.push({name: countryName.toLowerCase(), entity: labelEntity});
                }
            }
        });
    }

    var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
    handler.setInputAction(function(click) {
        if (isDetailedView) return;
        var pickedObject = viewer.scene.pick(click.position);
        if (Cesium.defined(pickedObject) && pickedObject.id) {
            var countryName = pickedObject.id.name;
            if (countryName && typeof countryName === 'string') countryName = countryName.trim().toLowerCase();
            else countryName = countryName.toString().trim().toLowerCase();

            labelEntities.forEach(function(label) {
                label.entity.show = false;
            });

            loadRegions(countriesDataSource, countryName);
            showInfoBox(countryName);
            isDetailedView = true;
        }
    }, Cesium.ScreenSpaceEventType.LEFT_CLICK);

    // 세부 지역을 보기 위해 세계 지도에서 선택한 부분을 지움
    function hideRegions(dataSource, countryName) {
        var entities = dataSource.entities.values;
        for (var i = 0; i < entities.length; i++) {
            var entity = entities[i];
            if (entity.name.toString().trim().toLowerCase() === countryName) entity.show = false;
        }
    }

    // 나라 클릭 시 세부 지역 로드
    function loadRegions(dataSource, countryName) {
        var countryNameToLoad = getCountryName(countryName);
        var RegionsDataSource = new Cesium.GeoJsonDataSource();
        RegionsDataSource.load(`json/countries/${countryNameToLoad}.geojson`).then(function() {
            viewer.dataSources.add(RegionsDataSource);
            var entities = RegionsDataSource.entities.values;

            for (var i = 0; i < entities.length; i++) {
                var entity = entities[i];
                entity.polygon.material = Cesium.Color.GREEN.withAlpha(0.8);
                entity.polygon.outline = true;
                entity.polygon.outlineColor = Cesium.Color.GRAY.withAlpha(0.8);
                entity.polygon.outlineWidth = 1;
                entity.name = entity.properties.adm_nm; // Change to appropriate property
            }

            var cameraPosition = {
                "South_Korea": {longitude: 127.7669, latitude: 35.9078, height: 1000000},
                "North_Korea": {longitude: 127.5101, latitude: 40.3399, height: 1000000},
                "Japan": {longitude: 138.2529, latitude: 36.2048, height: 1000000},
                "China": {longitude: 104.1954, latitude: 35.8617, height: 1000000}
            };
            try {
                hideRegions(dataSource, countryName);
                if (cameraPosition[countryNameToLoad]) {
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(cameraPosition[countryNameToLoad].longitude, cameraPosition[countryNameToLoad].latitude, cameraPosition[countryNameToLoad].height)
                    });
                }
                if (detailHandler) detailHandler.destroy();

                detailHandler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
                detailHandler.setInputAction(function(click) {
                    console.log("detail clicked");
                    var pickedObject = viewer.scene.pick(click.position);
                    console.log(pickedObject);
                    if (Cesium.defined(pickedObject) && pickedObject.id) {
                        var region = pickedObject.id;
                        currentRegionProperties = region.properties;
                        showDetailInfoBox(region.properties);
                        loadRegionImages(region.properties.adm_cd); // 추가: 세부 지역 클릭 시 이미지 로드
                    }
                }, Cesium.ScreenSpaceEventType.LEFT_CLICK);
                addImage();
            } catch (e) {
                console.log("지원하지 않는 나라");
            }
        });
    }

    // 나라 이름 변환. 새로운 나라 추가할 때마다 추가
    function getCountryName(countryName) {
        if (countryName === 'south korea') return "South_Korea";
        if (countryName === 'north korea') return "North_Korea";
        if (countryName === 'japan') return "Japan";
        if (countryName === 'china') return "China";
    }

    function showInfoBox(countryName) {
        var infoBox = document.getElementById('infoBox');
        var infoImage = document.getElementById('infoImage');
        var infoTitle = document.getElementById('infoTitle');
        var infoSubtitle = document.getElementById('infoSubtitle');
        var infoDescription = document.getElementById('infoDescription');
        var addImageButton = document.getElementById('addImageButton');
        var deleteImageButton = document.getElementById('deleteImageButton');
        var imageGallery = document.getElementById('imageGallery');

        addImageButton.style.display = 'none';
        deleteImageButton.style.display = 'none';
        imageGallery.style.display = 'none';

        // 각 나라 설명. 나라가 추가될 때마다 추가
        var countryDetails = {
            "south korea": {
                image: 'img/countries/South_Korea.png',
                title: '대한민국',
                subtitle: '대한민국(한국 한자: 大韓民國, 영어: Republic of Korea)',
                description: '동아시아의 한반도 군사 분계선 남부에 위치한 나라'
            },
            "north korea": {
                image: 'img/countries/North_Korea.png',
                title: '조선민주주의인민공화국',
                subtitle: '조선민주주의인민공화국(한국 한자: 朝鮮民主主義人民共和國, 영어: Democratic People\'s Republic of Korea)',
                description: '동아시아의 한반도 군사 분계선 북부에 위치한 나라이다.'
            },
            "japan": {
                image: 'img/countries/Japan.png',
                title: '일본',
                subtitle: '日本',
                description: '동아시아에 있는 국가이다. 네 개의 섬(홋카이도, 혼슈, 시코쿠, 규슈)으로 이루어진 섬나라로, 네 개의 본섬과 수천개의 부속도서들로 구성되어 있다'
            },
            "china": {
                image: 'img/countries/China.png',
                title: '중국',
                subtitle: '중국(중국어 간체자: 中国, 정체자: 中國, 병음: Zhōngguó 중궈, 영어: China 차이나)',
                description: '동아시아에 위치한 지역 또는 나라를 지칭하는 말로, 오늘날에는 중국 대륙과 그 부속 도서를 이르는 말이다.'
            }
        };

        var details = countryDetails[countryName];
        if (details) {
            infoImage.src = details.image;
            infoTitle.textContent = details.title;
            infoSubtitle.textContent = details.subtitle;
            infoDescription.textContent = details.description;
            infoBox.style.display = 'block';
        }
    }

    function showDetailInfoBox(properties) {
        var infoBox = document.getElementById('infoBox');
        var infoImage = document.getElementById('infoImage');
        var infoTitle = document.getElementById('infoTitle');
        var infoSubtitle = document.getElementById('infoSubtitle');
        var infoDescription = document.getElementById('infoDescription');
        var addImageButton = document.getElementById('addImageButton');
        var deleteImageButton = document.getElementById('deleteImageButton');
        var imageGallery = document.getElementById('imageGallery');

        addImageButton.style.display = 'block';
        deleteImageButton.style.display = 'block';
        imageGallery.style.display = 'block';

        // 상세 정보 표시
        infoImage.src = ''; // 필요시 지역 이미지를 추가
        infoTitle.textContent = properties.adm_nm;
        infoSubtitle.textContent = properties.adm_cd;
        infoDescription.textContent = 'Sido: ' + properties.sidonm + '\nSgg: ' + properties.sggnm;

        infoBox.style.display = 'block';
    }

    function getRegionEntity(regionKey) {
        if (!viewer.dataSources._dataSources[1]) return null;
        var entities = viewer.dataSources._dataSources[1].entities.values;
        for (var i = 0; i < entities.length; i++) {
            if (entities[i].properties.adm_cd.toString() === regionKey.toString()) return entities[i];
        }
        return null;
    }

    function loadRegionImages(regionUniqueId) {
        fetch(`/api/images/${regionUniqueId}`)
            .then(response => response.json())
            .then(images => {
                displayImagesInGallery(images);
                setPrimaryImageOnMap(images);
                // Primary image 설정
                const primaryImage = images.find(image => image.isPrimary);
                if (primaryImage) document.getElementById('infoImage').src = primaryImage.imageUrl;
            })
    }
    function displayImagesInGallery(images) {
        var imageGallery = document.getElementById('imageGallery');
        imageGallery.innerHTML = ''; // 기존 이미지 제거

        images.forEach(image => {
            var img = document.createElement('img');
            img.src = image.imageUrl;
            img.addEventListener('click', function() {
                updatePrimaryImage(image);
            });
            imageGallery.appendChild(img);
        });
    }

    function updatePrimaryImage(selectedImage) {
        fetch(`/api/images/setPrimary`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ imageId: selectedImage.imageId, regionUniqueId: selectedImage.regionUniqueId })
        })
            .then(response => response.json())
            .then(data => {
                setMapImage(selectedImage); // 지도에 이미지 반영
            })
            .catch(error => {
                console.error("Error updating primary image:", error);
            });
    }

    function setPrimaryImageOnMap(images) {
        images.forEach(image => {
            if (image.isPrimary) setMapImage(image);
        });
    }

    function setMapImage(image) {
        const regionEntity = getRegionEntity(image.regionUniqueId);
        if (regionEntity) {
            regionEntity.polygon.material = new Cesium.ImageMaterialProperty({
                image: image.imageUrl,
                transparent: true
            });
        }
    }

    document.getElementById('resetButton').addEventListener('click', function() {
        viewer.dataSources.removeAll();
        loadCountries();
        labelEntities.forEach(function(label) {
            label.entity.show = true;
        });
        isDetailedView = false;
        if (detailHandler) {
            detailHandler.destroy();
            detailHandler = null;
        }
        document.getElementById('infoBox').style.display = 'none';
    });


    // X 버튼 클릭 시 팝업창 사라짐
    document.querySelector('#infoBox .closeButton').addEventListener('click', function() {
        document.getElementById('infoBox').style.display = 'none';
    });

    // 사진 추가 버튼 클릭 시 이벤트
    document.getElementById('addImageButton').addEventListener('click', function() {
        document.getElementById('fileInput').click();
    });

    document.getElementById('fileInput').addEventListener('change', function(event) {
        var files = event.target.files;
        if (files.length > 0) {
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            // 현재 지역 정보를 가져와서 formData에 추가
            var regionKey = currentRegionProperties.adm_cd;
            formData.append('regionUniqueId', regionKey);

            fetch('/api/images/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    data.forEach(image => {
                        addImageToGallery(image);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });

    function addImageToGallery(image) {
        var imageGallery = document.getElementById('imageGallery');
        var img = document.createElement('img');
        img.src = image.imageUrl;
        img.addEventListener('click', function() {
            updatePrimaryImage(image);
        });
        imageGallery.appendChild(img);
    }

    // 사진 삭제 버튼 클릭 시 이벤트
    document.getElementById('deleteImageButton').addEventListener('click', function() {

    });


</script>
<script  src="js/script.js"></script>
</body>
</html>
```

