<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WRYD TravelMap</title>
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.87/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.87/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div id="resetButton" class="button" style="color: black">다른 나라 선택하기</div>
<div id="infoBox">
    <span class="closeButton">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path fill="currentColor" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
        </svg>
    </span>
    <img id="infoImage" src="" alt="대표사진이 없습니다">
    <h2 id="infoTitle"></h2>
    <h3 id="infoSubtitle"></h3>
    <p id="infoDescription"></p>
    <div class="button_list" style="display: flex;">
        <button id="addImageButton" class="button" style="margin-right: 15px;">사진 추가</button>
        <input type="file" id="fileInput" accept="image/*" style="display: none;">
        <button id="deleteImageButton" class="button simple">사진 삭제</button>
    </div>
    <div id="imageGallery"></div>
</div>
<div id="cesiumContainer"></div>
<script>

    function addImage() {
        fetch('/api/images/primary')
            .then(response => response.json())
            .then(images => {
                images.forEach(image => {
                    setMapImage(image);
                });
            })
    }

    var viewer = new Cesium.Viewer('cesiumContainer', {
        imageryProvider: new Cesium.OpenStreetMapImageryProvider({
            url : 'https://a.tile.openstreetmap.org/'
        }),
        baseLayerPicker: false,
        sceneMode: Cesium.SceneMode.SCENE3D,
        animation: false,
        timeline: false,
        fullscreenButton: false,
        homeButton: false,
        infoBox: false,
        navigationHelpButton: false,
        sceneModePicker: false,
        geocoder: false,
        creditContainer: null
    });

    viewer.scene.globe.baseColor = Cesium.Color.fromCssColorString('deepskyblue');
    // 처음 지도 카메라 위치
    var userLocation = {
        latitude: 37.5665,
        longitude: 126.9780,
        height: 3000000
    };

    var isDetailedView = false;
    var countriesDataSource;
    var labelEntities = [];
    var detailHandler;
    var currentRegionProperties;
    var isDeleteMode = false;

    viewer.camera.setView({
        destination: Cesium.Cartesian3.fromDegrees(userLocation.longitude, userLocation.latitude, userLocation.height)
    });

    loadCountries();

    function loadCountries() {
        countriesDataSource = new Cesium.GeoJsonDataSource();
        countriesDataSource.load('json/country.geojson').then(function() {
            viewer.dataSources.add(countriesDataSource);
            var entities = countriesDataSource.entities.values;

            // 지도 상에 나라 이름 라벨 이름과 좌표
            var countryInfo = {
                "북한": {longitude: 127.0101, latitude: 39.8399},
                "대한민국": {longitude: 127.9669, latitude: 36.2078},
                "일본": {longitude: 138.2529, latitude: 36.2048},
                "중국": {longitude: 104.1954, latitude: 35.8617},
                "필리핀": {longitude: 122.00, latitude: 13.00},
                "대만": {longitude: 121.00, latitude: 23.50}
            };

            for (var i = 0; i < entities.length; i++) {
                var entity = entities[i];
                entity.name = entity.properties.name;
                entity.polygon.material = Cesium.Color.fromCssColorString('#32CD32').withAlpha(0.2);
            }

            // 국가 이름 라벨 추가
            for (var countryName in countryInfo) {
                if (countryInfo.hasOwnProperty(countryName)) {
                    var center = countryInfo[countryName];
                    var labelEntity = viewer.entities.add({
                        position: Cesium.Cartesian3.fromDegrees(center.longitude, center.latitude),
                        label: {
                            text: countryName,
                            font: '11pt "맑은 고딕", "Malgun Gothic", sans-serif',
                            fillColor: Cesium.Color.BLACK,
                            style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                            outlineWidth: 1,
                            verticalOrigin: Cesium.VerticalOrigin.BOTTOM,
                            heightReference: Cesium.HeightReference.CLAMP_TO_GROUND
                        }
                    });
                    labelEntities.push({name: countryName.toLowerCase(), entity: labelEntity});
                }
            }
        });
    }
    function reloadRegion() {
        if (currentRegionProperties) {
            const regionKey = currentRegionProperties.adm_cd;
            loadRegionImages(regionKey);
        }
    }

    var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
    handler.setInputAction(function(click) {
        if (isDetailedView) return;
        var pickedObject = viewer.scene.pick(click.position);
        if (Cesium.defined(pickedObject) && pickedObject.id) {
            var countryName = pickedObject.id.name;
            if (countryName && typeof countryName === 'string') countryName = countryName.trim().toLowerCase();
            else countryName = countryName.toString().trim().toLowerCase();

            labelEntities.forEach(function(label) {
                label.entity.show = false;
            });

            loadRegions(countriesDataSource, countryName);
            showInfoBox(countryName);
            isDetailedView = true;
        }
    }, Cesium.ScreenSpaceEventType.LEFT_CLICK);

    // 세부 지역을 보기 위해 세계 지도에서 선택한 부분을 지움
    function hideRegions(dataSource, countryName) {
        var entities = dataSource.entities.values;
        for (var i = 0; i < entities.length; i++) {
            var entity = entities[i];
            if (entity.name.toString().trim().toLowerCase() === countryName) entity.show = false;
        }
    }

    // 나라 클릭 시 세부 지역 로드
    function loadRegions(dataSource, countryName) {
        var countryNameToLoad = getCountryName(countryName);
        var RegionsDataSource = new Cesium.GeoJsonDataSource();
        RegionsDataSource.load(`json/countries/${countryNameToLoad}.geojson`).then(function() {
            viewer.dataSources.add(RegionsDataSource);
            var entities = RegionsDataSource.entities.values;

            for (var i = 0; i < entities.length; i++) {
                var entity = entities[i];

                var color = Cesium.Color.fromRandom({
                    red: 0.5,
                    green: 0.5,
                    blue: 0.5,
                    alpha: 1.0
                }).withAlpha(0.4);

                entity.polygon.material = new Cesium.ColorMaterialProperty(color);
                entity.polygon.outline = true;
                entity.polygon.outlineColor = Cesium.Color.YELLOW;
                entity.polygon.outlineWidth = 2.0;
                entity.name = entity.properties.adm_nm; // Change to appropriate property
            }

            var cameraPosition = {
                "South_Korea": {longitude: 127.7669, latitude: 35.9078, height: 1000000},
                "North_Korea": {longitude: 127.5101, latitude: 40.3399, height: 1000000},
                "Japan": {longitude: 138.2529, latitude: 36.2048, height: 1000000},
                "China": {longitude: 104.1954, latitude: 35.8617, height: 1000000},
                "Philippines": {longitude: 122.00, latitude: 13.00, height: 1000000},
                "Taiwan": {longitude: 121.00, latitude: 23.50, height: 1000000}
            };
            try {
                hideRegions(dataSource, countryName);
                if (cameraPosition[countryNameToLoad]) {
                    viewer.camera.flyTo({
                        destination: Cesium.Cartesian3.fromDegrees(cameraPosition[countryNameToLoad].longitude, cameraPosition[countryNameToLoad].latitude, cameraPosition[countryNameToLoad].height),
                        duration: 2
                    });
                }
                if (detailHandler) detailHandler.destroy();

                detailHandler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
                detailHandler.setInputAction(function(click) {
                    var pickedObject = viewer.scene.pick(click.position);
                    if (Cesium.defined(pickedObject) && pickedObject.id) {
                        var region = pickedObject.id;
                        currentRegionProperties = region.properties;
                        showDetailInfoBox(region.properties);
                        loadRegionImages(region.properties.adm_cd);
                    }
                }, Cesium.ScreenSpaceEventType.LEFT_CLICK);
                addImage();
            } catch (e) {
                console.log("지원하지 않는 나라");
            }
        });
    }

    // 나라 이름 변환. 새로운 나라 추가할 때마다 추가
    function getCountryName(countryName) {
        if (countryName === 'south korea') return "South_Korea";
        if (countryName === 'north korea') return "North_Korea";
        if (countryName === 'japan') return "Japan";
        if (countryName === 'china') return "China";
        if (countryName === 'philippines') return "Philippines";
    }

    function showInfoBox(countryName) {
        var infoBox = document.getElementById('infoBox');
        var infoImage = document.getElementById('infoImage');
        var infoTitle = document.getElementById('infoTitle');
        var infoSubtitle = document.getElementById('infoSubtitle');
        var infoDescription = document.getElementById('infoDescription');
        var addImageButton = document.getElementById('addImageButton');
        var deleteImageButton = document.getElementById('deleteImageButton');
        var imageGallery = document.getElementById('imageGallery');

        addImageButton.style.display = 'none';
        deleteImageButton.style.display = 'none';
        imageGallery.style.display = 'none';

        // 각 나라 설명. 나라가 추가될 때마다 추가
        var countryDetails = {
            "south korea": {
                image: 'img/countries/South_Korea.png',
                title: '대한민국',
                subtitle: '대한민국(한국 한자: 大韓民國, 영어: Republic of Korea)',
                description: '동아시아의 한반도 군사 분계선 남부에 위치한 나라'
            },
            "north korea": {
                image: 'img/countries/North_Korea.png',
                title: '조선민주주의인민공화국',
                subtitle: '조선민주주의인민공화국(한국 한자: 朝鮮民主主義人民共和國, 영어: Democratic People\'s Republic of Korea)',
                description: '동아시아의 한반도 군사 분계선 북부에 위치한 나라이다.'
            },
            "japan": {
                image: 'img/countries/Japan.png',
                title: '일본',
                subtitle: '日本',
                description: '동아시아에 있는 국가이다. 네 개의 섬(홋카이도, 혼슈, 시코쿠, 규슈)으로 이루어진 섬나라로, 네 개의 본섬과 수천개의 부속도서들로 구성되어 있다'
            },
            "china": {
                image: 'img/countries/China.png',
                title: '중국',
                subtitle: '중국(중국어 간체자: 中国, 정체자: 中國, 병음: Zhōngguó 중궈, 영어: China 차이나)',
                description: '동아시아에 위치한 지역 또는 나라를 지칭하는 말로, 오늘날에는 중국 대륙과 그 부속 도서를 이르는 말이다.'
            },
            "philippines": {
                image: 'img/countries/Philippines.png',
                title: '필리핀',
                subtitle: '필리핀 공화국(필리핀어: Republika ng Pilipinas 레푸블리카 낭 필리피나스, 영어: Republic of the Philippines), 약칭 필리핀(필리핀어: Pilipinas 필리피나스, 영어: Philippines)',
                description: '서태평양에 위치한 동남아시아의 섬나라이다. 북쪽의 루손 해협 건너편에는 중화민국, 서쪽의 남중국해 건너편에는 베트남이 있다. 섬으로 구성되어 있는 필리핀은, 크게 루손섬, 비사야스 제도, 민다나오섬의 세 지역으로 나뉜다. 주요 도시로는 마닐라, 다바오, 케손시티, 세부 등이 있다.'
            },
            "taiwan": {
                image: 'img/countries/Taiwan.png',
                title: '대만',
                subtitle: '대만(중국어 정체자: 臺灣/台灣, 간체자: 台湾, 병음: Táiwān, 주음 부호: ㄊㄞˊ ㄨㄢ) 또는 타이완',
                description: '동아시아에 있는 타이완섬을 중심으로 정의 내리는 여러 지역명을 통합해 부르는 명칭이다. 면적은 35,980 km2로 경상도 면적과 비슷하며, 시간대는 UTC+08:00이다. 별칭은 포르투갈어로 ‘아름다운 섬’이란 뜻인 포르모사(Formosa)이다.'
            }
        };

        var details = countryDetails[countryName];
        if (details) {
            infoImage.src = details.image;
            infoTitle.textContent = details.title;
            infoSubtitle.textContent = details.subtitle;
            infoDescription.textContent = details.description;
            infoBox.style.display = 'block';
        }
    }

    function showDetailInfoBox(properties) {
        var infoBox = document.getElementById('infoBox');
        var infoImage = document.getElementById('infoImage');
        var infoTitle = document.getElementById('infoTitle');
        var infoSubtitle = document.getElementById('infoSubtitle');
        var infoDescription = document.getElementById('infoDescription');
        var addImageButton = document.getElementById('addImageButton');
        var deleteImageButton = document.getElementById('deleteImageButton');
        var imageGallery = document.getElementById('imageGallery');

        infoImage.style.display = 'none';
        addImageButton.style.display = 'block';
        deleteImageButton.style.display = 'block';
        imageGallery.style.display = 'block';

        // 상세 정보 표시
        infoTitle.textContent = properties.adm_nm;
        infoSubtitle.textContent = properties.adm_cd;
        infoDescription.textContent = 'Sido: ' + properties.sidonm + '\nSgg: ' + properties.sggnm;

        infoBox.style.display = 'block';
    }


    function getRegionEntity(regionKey) {
        if (!viewer.dataSources._dataSources[1]) return [];
        var entities = viewer.dataSources._dataSources[1].entities.values;
        var matchingEntities = [];
        for (var i = 0; i < entities.length; i++) {
            if (entities[i].properties.adm_cd.toString() === regionKey.toString()) {
                matchingEntities.push(entities[i]);
            }
        }
        return matchingEntities;
    }

    function loadRegionImages(regionUniqueId) {
        fetch(`/api/images/${regionUniqueId}`)
            .then(response => response.json())
            .then(images => {
                displayImagesInGallery(images);
                setPrimaryImageOnMap(images);
            })
    }

    function displayImagesInGallery(images) {
        var imageGallery = document.getElementById('imageGallery');
        imageGallery.innerHTML = ''; // 기존 이미지 제거

        images.forEach(image => {
            var img = document.createElement('img');
            img.src = image.imageUrl;
            img.dataset.imageId = image.imageId;
            img.addEventListener('click', function() {
                updatePrimaryImage(image);
            });
            imageGallery.appendChild(img);
        });
    }

    function updatePrimaryImage(selectedImage) {
        fetch(`/api/images/setPrimary`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ imageId: selectedImage.imageId, regionUniqueId: selectedImage.regionUniqueId })
        })
            .then(response => response.json())
            .then(data => {
                setMapImage(selectedImage); // 지도에 이미지 반영
            })
    }

    function setPrimaryImageOnMap(images) {
        images.forEach(image => {
            if (image.isPrimary) setMapImage(image);
        });
    }

    function setMapImage(image) {
        const regionEntity = getRegionEntity(image.regionUniqueId);
        if (regionEntity && regionEntity.length > 0) {
            regionEntity.forEach(regionEntity => {
                if (regionEntity.polygon) { // Check if the polygon property exists
                    regionEntity.polygon.material = new Cesium.ImageMaterialProperty({
                        image: image.imageUrl,
                        transparent: true
                    });
                } else {
                    console.error("Polygon property not found for entity with region key:", image.regionUniqueId);
                }
            });
        } else console.error("No matching entities found for region key:", image.regionUniqueId);
    }

    document.getElementById('resetButton').addEventListener('click', function() {
        viewer.dataSources.removeAll();
        loadCountries();
        labelEntities.forEach(function(label) {
            label.entity.show = true;
        });
        isDetailedView = false;
        if (detailHandler) {
            detailHandler.destroy();
            detailHandler = null;
        }
        document.getElementById('infoImage').style.display = 'block';
        document.getElementById('infoBox').style.display = 'none';
    });


    // X 버튼 클릭 시 팝업창 사라짐
    document.querySelector('#infoBox .closeButton').addEventListener('click', function() {
        document.getElementById('infoBox').style.display = 'none';
    });

    // 사진 추가 버튼 클릭 시 이벤트
    document.getElementById('addImageButton').addEventListener('click', function() {
        document.getElementById('fileInput').click();
    });

    // 사진 추가 로직
    document.getElementById('fileInput').addEventListener('change', function(event) {
        var files = event.target.files;
        if (files.length > 0) {
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            // 현재 지역 정보를 가져와서 formData에 추가
            var regionKey = currentRegionProperties.adm_cd;
            formData.append('regionUniqueId', regionKey);

            fetch('/api/images/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    data.forEach(image => {
                        addImageToGallery(image);
                    });
                    reloadRegion();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });

    function addImageToGallery(image) {
        var imageGallery = document.getElementById('imageGallery');
        var img = document.createElement('img');
        img.src = image.imageUrl;
        img.dataset.imageId = image.imageId; // 이미지 ID를 데이터 속성으로 저장
        img.addEventListener('click', function() {
            if (isDeleteMode) img.classList.toggle('selected');
            else {
                var region = getRegionEntity(image.regionUniqueId);
                if (region) {
                    region.polygon.material = new Cesium.ImageMaterialProperty({
                        image: image.imageUrl,
                        transparent: true
                    });
                }
            }
        });
    }

    document.getElementById('deleteImageButton').addEventListener('click', function() {
        if (!isDeleteMode) {
            isDeleteMode = true;
            this.textContent = '선택 삭제';
            document.querySelectorAll('#imageGallery img').forEach(function(img) {
                img.addEventListener('click', toggleSelectImage);
            });
        } else {
            isDeleteMode = false;
            this.textContent = '사진 삭제';
            document.querySelectorAll('#imageGallery img').forEach(function(img) {
                img.removeEventListener('click', toggleSelectImage);
            });

            var selectedImages = document.querySelectorAll('#imageGallery img.selected');
            console.log("selected img :", selectedImages);
            if (selectedImages.length > 0) {
                var imageIds = [];
                selectedImages.forEach(function(img) {
                    var imageId = img.dataset.imageId; // 데이터 속성에서 imageId 가져오기
                    if (imageId) {
                        imageIds.push(imageId);
                    }
                });

                if (confirm('정말 삭제하시겠습니까?')) {
                    deleteImages(imageIds);
                } else {
                    isDeleteMode = false;
                    this.textContent = '사진 삭제';
                    document.querySelectorAll('#imageGallery img').forEach(function(img) {
                        img.removeEventListener('click', toggleSelectImage);
                        img.classList.remove("selected");
                    });
                }
            }
        }
    });

    function toggleSelectImage(event) {
        this.classList.toggle('selected');
    }

    function deleteImages(imageIds) {
        fetch('/api/images/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ imageIds: imageIds })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    document.querySelectorAll('#imageGallery img.selected').forEach(function(img) {
                        img.remove();
                    });
                    alert("삭제가 완료됐습니다.");
                } else alert("삭제에 실패했습니다.");
            })
    }


</script>
<script  src="js/script.js"></script>
</body>
</html>

